.text {
  white-space: pre-wrap;
}

.white {
  color: var(--white);
}

.dark {
  color: var(--dark);
}

.gray {
  color: var(--gray);
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}