@import '/src/app/styles/breakpoints';

.temmate {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 4px;
  overflow: hidden;
}

.temmate_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.8s ease;
  background-color: var(--black);
  text-align: center;
}

.temmate_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent; 
}

.temmate:hover {
  .temmate_overlay {
    opacity: 0.51;
  }

  .temmate_info {
    opacity: 1;
  }
}

.img {
  width: 100%;
}