@import '/src/app/styles/breakpoints';

@mixin burgerSpan {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.navbar_nav {
  display: flex;
  gap: 36px;
}

.navlink {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  transition: 0.4s;

  &:hover {
    box-shadow: 12px 0px 0 rgba(255, 255, 255, 0.1), -12px 0px 0 rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.main {
  @include sm {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px;
    background-color: var(--purple);
  }

  .navbar_nav {
    @include sm {
      flex-direction: column;
      align-items: stretch;
    }
  
    @include sm {
      visibility: hidden;
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      flex-direction: column;
      background-color: var(--purple);
      gap: 0;
    }
  }

  .navlink {
    @include sm {
      height: 50px;
    }
  }
}

.menu_btn {
  display: none;

  @include sm {
    transition-duration: 0.25s;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;
    bottom: 2px;
    width: 26px;
    height: 26px;
    cursor: pointer;

    span {
      @include burgerSpan;

      &:before {
        @include burgerSpan;
        content: '';
        top: -8px;
        transition-duration: 0.25s;
      }

      &:after {
        @include burgerSpan;
        content: '';
        top: 8px;
        transition-duration: 0.25s;
      }

    }
  }
}

.menu_toggle {
  display: none;
  @include sm {
    opacity: 0;
  
    &:checked ~ .menu_btn > span {
      transform: rotate(45deg);
    }
  
    &:checked ~ .menu_btn > span::before {
      top: 0;
      transform: rotate(0);
    }
  
    &:checked ~ .menu_btn > span::after {
      top: 0;
      transform: rotate(90deg);
    }
  
    &:checked ~ .navbar_nav {
      visibility: visible;
      left: 0;
      top: 70px;
    }
  
  }
}

.bottom {
  @include sm {
    flex-direction: column;

    .navbar_nav {
      padding: 20px 12px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 12px;
    }

    .navlink {
      display: inline-block;
      line-height: 30px;
    }
  }
}