.input {
  position: relative;
  padding: 24px 0 0;
}

.input_field {
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding: 17px 18px;
  box-sizing: border-box;
  border: 2px solid transparent;
  border-radius: 4px;
  outline: 0;
  color: var(--dark);
  background: var(--light);
  transition: border-color 0.2s, height 0.5s;
}

.input_field::placeholder {
  color: transparent;
}

.input_field:placeholder-shown ~ .label {
  cursor: text;
  top: 42px;
}

.label,
.input_field:focus + label {
  position: absolute;
  left: 20px;
  top: 0;
  display: block;
  white-space: nowrap;
  transition: top 0.2s, left 0.2s;
  color: var(--gray);
}

.input_field:focus ~ label {
  color: var(--purple);
}

.input_field:focus {
  border-color: var(--purpleLight);
  box-shadow: 0 0 6px var(--purpleLight);
}

.input_field[readonly] {
  pointer-events: none;
}
