@import '/src/app/styles/breakpoints';

.name {
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 600;
}

.price {
  margin-top: 2px;
  font-size: 20px;
}

.img_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 293px;
  border-radius: 4px;
  background: #f2f0f3;
}

.img {
  max-width: 100%;
  max-height: 100%;
}
